{
    "openapi": "3.0.1",
    "info": {
        "title": "ERCOT Public API Client/Developer Documentation",
        "description": "Client/Developer RESTFul web services documentation for ERCOT Market Information List (EMIL) products.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.ercot.com/api/public-reports"
        }
    ],
    "paths": {
        "/{emilId}": {
            "get": {
                "tags": [
                    "EMIL Products"
                ],
                "summary": "Available report artifacts for a specified EMIL product.",
                "description": "Available report artifacts for a specified EMIL product.",
                "operationId": "getProduct",
                "parameters": [
                    {
                        "name": "emilId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK The operation completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Report"
                                },
                                "example": {
                                    "links": [
                                        {
                                            "rel": "string",
                                            "href": "string",
                                            "hreflang": "string",
                                            "media": "string",
                                            "title": "string",
                                            "type": "string",
                                            "deprecation": "string",
                                            "profile": "string",
                                            "name": "string"
                                        }
                                    ],
                                    "_meta": {
                                        "reportName": "string",
                                        "reportDisplayName": "string",
                                        "reportId": "string",
                                        "reportEMIL": "string",
                                        "sortedBy": "string",
                                        "query": {
                                            "totalRecords": 0,
                                            "pageSize": 0,
                                            "totalPages": 0,
                                            "currentPage": 0,
                                            "sortedBy": "string",
                                            "query": {
                                                "parameterCount": 0,
                                                "parameters": {}
                                            }
                                        }
                                    },
                                    "fields": [
                                        {
                                            "name": "string",
                                            "label": "string",
                                            "cardinality": 0,
                                            "dataType": "BOOLEAN",
                                            "searchable": true,
                                            "hasRange": true
                                        }
                                    ],
                                    "data": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request operation failed. The request and/or one or more of its parameters are invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request operation failed. You do not have access to the requested resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request operation failed. The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/version": {
            "get": {
                "tags": [
                    "Versioning"
                ],
                "summary": "Retrieve the current version for ERCOT Public API system.",
                "description": "Retrieve the current version for ERCOT Public API system.",
                "operationId": "getVersion",
                "responses": {
                    "200": {
                        "description": "OK The operation completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Report"
                                },
                                "example": {
                                    "links": [
                                        {
                                            "rel": "string",
                                            "href": "string",
                                            "hreflang": "string",
                                            "media": "string",
                                            "title": "string",
                                            "type": "string",
                                            "deprecation": "string",
                                            "profile": "string",
                                            "name": "string"
                                        }
                                    ],
                                    "_meta": {
                                        "reportName": "string",
                                        "reportDisplayName": "string",
                                        "reportId": "string",
                                        "reportEMIL": "string",
                                        "sortedBy": "string",
                                        "query": {
                                            "totalRecords": 0,
                                            "pageSize": 0,
                                            "totalPages": 0,
                                            "currentPage": 0,
                                            "sortedBy": "string",
                                            "query": {
                                                "parameterCount": 0,
                                                "parameters": {}
                                            }
                                        }
                                    },
                                    "fields": [
                                        {
                                            "name": "string",
                                            "label": "string",
                                            "cardinality": 0,
                                            "dataType": "BOOLEAN",
                                            "searchable": true,
                                            "hasRange": true
                                        }
                                    ],
                                    "data": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request operation failed. The request and/or one or more of its parameters are invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request operation failed. You do not have access to the requested resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request operation failed. The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/np6-970-cd/rtd_lmp_node_zone_hub": {
            "get": {
                "tags": [
                    "NP6-970-CD"
                ],
                "summary": "RTD Indicative LMPs by Resource Nodes, Load Zones and Hubs",
                "description": "RTD Indicative LMPs by Resource Nodes, Load Zones and Hubs",
                "operationId": "getData",
                "parameters": [
                    {
                        "name": "RTDTimestampFrom",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "RTDTimestampTo",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "repeatHourFlag",
                        "in": "query",
                        "description": "Format - true | false.",
                        "schema": {
                            "type": "boolean",
                            "format": "true | false"
                        }
                    },
                    {
                        "name": "intervalIdFrom",
                        "in": "query",
                        "description": "Format - ###.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "intervalIdTo",
                        "in": "query",
                        "description": "Format - ###.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "intervalEndingFrom",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "intervalEndingTo",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "intervalRepeatHourFlag",
                        "in": "query",
                        "description": "Format - true | false.",
                        "schema": {
                            "type": "boolean",
                            "format": "true | false"
                        }
                    },
                    {
                        "name": "settlementPoint",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "settlementPointType",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "LMPFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "LMPTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - ###. Page number of returned values in the collection.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - ###. Number of returned items per page.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Format - abc123. Defines field by which to sort the returned resource values.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "dir",
                        "in": "query",
                        "description": "Format - abc123. Defines sort order of returned values based on the primary business key of the resource.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK The operation completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Report"
                                },
                                "example": {
                                    "links": [
                                        {
                                            "rel": "string",
                                            "href": "string",
                                            "hreflang": "string",
                                            "media": "string",
                                            "title": "string",
                                            "type": "string",
                                            "deprecation": "string",
                                            "profile": "string",
                                            "name": "string"
                                        }
                                    ],
                                    "_meta": {
                                        "reportName": "string",
                                        "reportDisplayName": "string",
                                        "reportId": "string",
                                        "reportEMIL": "string",
                                        "sortedBy": "string",
                                        "query": {
                                            "totalRecords": 0,
                                            "pageSize": 0,
                                            "totalPages": 0,
                                            "currentPage": 0,
                                            "sortedBy": "string",
                                            "query": {
                                                "parameterCount": 0,
                                                "parameters": {}
                                            }
                                        }
                                    },
                                    "fields": [
                                        {
                                            "name": "string",
                                            "label": "string",
                                            "cardinality": 0,
                                            "dataType": "BOOLEAN",
                                            "searchable": true,
                                            "hasRange": true
                                        }
                                    ],
                                    "data": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request operation failed. The request and/or one or more of its parameters are invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request operation failed. You do not have access to the requested resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request operation failed. The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/np6-905-cd/spp_node_zone_hub": {
            "get": {
                "tags": [
                    "NP6-905-CD"
                ],
                "summary": "Settlement Point Prices at Resource Nodes, Hubs and Load Zones",
                "description": "Settlement Point Prices at Resource Nodes, Hubs and Load Zones",
                "operationId": "getData_1",
                "parameters": [
                    {
                        "name": "deliveryDateFrom",
                        "in": "query",
                        "description": "Format - yyyy-MM-dd.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-dd"
                        }
                    },
                    {
                        "name": "deliveryDateTo",
                        "in": "query",
                        "description": "Format - yyyy-MM-dd.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-dd"
                        }
                    },
                    {
                        "name": "deliveryHourFrom",
                        "in": "query",
                        "description": "Format - ###.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "deliveryHourTo",
                        "in": "query",
                        "description": "Format - ###.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "deliveryIntervalFrom",
                        "in": "query",
                        "description": "Format - ###.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "deliveryIntervalTo",
                        "in": "query",
                        "description": "Format - ###.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "settlementPoint",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "settlementPointType",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "settlementPointPriceFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "settlementPointPriceTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "DSTFlag",
                        "in": "query",
                        "description": "Format - true | false.",
                        "schema": {
                            "type": "boolean",
                            "format": "true | false"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - ###. Page number of returned values in the collection.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - ###. Number of returned items per page.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Format - abc123. Defines field by which to sort the returned resource values.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "dir",
                        "in": "query",
                        "description": "Format - abc123. Defines sort order of returned values based on the primary business key of the resource.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK The operation completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Report"
                                },
                                "example": {
                                    "links": [
                                        {
                                            "rel": "string",
                                            "href": "string",
                                            "hreflang": "string",
                                            "media": "string",
                                            "title": "string",
                                            "type": "string",
                                            "deprecation": "string",
                                            "profile": "string",
                                            "name": "string"
                                        }
                                    ],
                                    "_meta": {
                                        "reportName": "string",
                                        "reportDisplayName": "string",
                                        "reportId": "string",
                                        "reportEMIL": "string",
                                        "sortedBy": "string",
                                        "query": {
                                            "totalRecords": 0,
                                            "pageSize": 0,
                                            "totalPages": 0,
                                            "currentPage": 0,
                                            "sortedBy": "string",
                                            "query": {
                                                "parameterCount": 0,
                                                "parameters": {}
                                            }
                                        }
                                    },
                                    "fields": [
                                        {
                                            "name": "string",
                                            "label": "string",
                                            "cardinality": 0,
                                            "dataType": "BOOLEAN",
                                            "searchable": true,
                                            "hasRange": true
                                        }
                                    ],
                                    "data": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request operation failed. The request and/or one or more of its parameters are invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request operation failed. You do not have access to the requested resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request operation failed. The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/np6-86-cd/shdw_prices_bnd_trns_const": {
            "get": {
                "tags": [
                    "NP6-86-CD"
                ],
                "summary": "SCED Shadow Prices and Binding Transmission Constraints",
                "description": "SCED Shadow Prices and Binding Transmission Constraints",
                "operationId": "getData_2",
                "parameters": [
                    {
                        "name": "fromStation",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "toStation",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "fromStationkVFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "fromStationkVTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "toStationkVFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "toStationkVTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "CCTStatus",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "SCEDTimestampFrom",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "SCEDTimestampTo",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "repeatedHourFlag",
                        "in": "query",
                        "description": "Format - true | false.",
                        "schema": {
                            "type": "boolean",
                            "format": "true | false"
                        }
                    },
                    {
                        "name": "constraintIDFrom",
                        "in": "query",
                        "description": "Format - ###.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "constraintIDTo",
                        "in": "query",
                        "description": "Format - ###.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "constraintName",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "contingencyName",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "shadowPriceFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "shadowPriceTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "maxShadowPriceFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "maxShadowPriceTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "limitFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "limitTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "valueFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "valueTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "violatedMWFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "violatedMWTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - ###. Page number of returned values in the collection.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - ###. Number of returned items per page.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Format - abc123. Defines field by which to sort the returned resource values.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "dir",
                        "in": "query",
                        "description": "Format - abc123. Defines sort order of returned values based on the primary business key of the resource.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK The operation completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Report"
                                },
                                "example": {
                                    "links": [
                                        {
                                            "rel": "string",
                                            "href": "string",
                                            "hreflang": "string",
                                            "media": "string",
                                            "title": "string",
                                            "type": "string",
                                            "deprecation": "string",
                                            "profile": "string",
                                            "name": "string"
                                        }
                                    ],
                                    "_meta": {
                                        "reportName": "string",
                                        "reportDisplayName": "string",
                                        "reportId": "string",
                                        "reportEMIL": "string",
                                        "sortedBy": "string",
                                        "query": {
                                            "totalRecords": 0,
                                            "pageSize": 0,
                                            "totalPages": 0,
                                            "currentPage": 0,
                                            "sortedBy": "string",
                                            "query": {
                                                "parameterCount": 0,
                                                "parameters": {}
                                            }
                                        }
                                    },
                                    "fields": [
                                        {
                                            "name": "string",
                                            "label": "string",
                                            "cardinality": 0,
                                            "dataType": "BOOLEAN",
                                            "searchable": true,
                                            "hasRange": true
                                        }
                                    ],
                                    "data": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request operation failed. The request and/or one or more of its parameters are invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request operation failed. You do not have access to the requested resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request operation failed. The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/np6-788-cd/lmp_node_zone_hub": {
            "get": {
                "tags": [
                    "NP6-788-CD"
                ],
                "summary": "LMPs by Resource Nodes, Load Zones and Trading Hubs",
                "description": "LMPs by Resource Nodes, Load Zones and Trading Hubs",
                "operationId": "getData_3",
                "parameters": [
                    {
                        "name": "SCEDTimestampFrom",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "SCEDTimestampTo",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "repeatHourFlag",
                        "in": "query",
                        "description": "Format - true | false.",
                        "schema": {
                            "type": "boolean",
                            "format": "true | false"
                        }
                    },
                    {
                        "name": "settlementPoint",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "LMPFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "LMPTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - ###. Page number of returned values in the collection.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - ###. Number of returned items per page.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Format - abc123. Defines field by which to sort the returned resource values.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "dir",
                        "in": "query",
                        "description": "Format - abc123. Defines sort order of returned values based on the primary business key of the resource.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK The operation completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Report"
                                },
                                "example": {
                                    "links": [
                                        {
                                            "rel": "string",
                                            "href": "string",
                                            "hreflang": "string",
                                            "media": "string",
                                            "title": "string",
                                            "type": "string",
                                            "deprecation": "string",
                                            "profile": "string",
                                            "name": "string"
                                        }
                                    ],
                                    "_meta": {
                                        "reportName": "string",
                                        "reportDisplayName": "string",
                                        "reportId": "string",
                                        "reportEMIL": "string",
                                        "sortedBy": "string",
                                        "query": {
                                            "totalRecords": 0,
                                            "pageSize": 0,
                                            "totalPages": 0,
                                            "currentPage": 0,
                                            "sortedBy": "string",
                                            "query": {
                                                "parameterCount": 0,
                                                "parameters": {}
                                            }
                                        }
                                    },
                                    "fields": [
                                        {
                                            "name": "string",
                                            "label": "string",
                                            "cardinality": 0,
                                            "dataType": "BOOLEAN",
                                            "searchable": true,
                                            "hasRange": true
                                        }
                                    ],
                                    "data": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request operation failed. The request and/or one or more of its parameters are invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request operation failed. You do not have access to the requested resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request operation failed. The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/np6-787-cd/lmp_electrical_bus": {
            "get": {
                "tags": [
                    "NP6-787-CD"
                ],
                "summary": "LMP by Electrical Bus",
                "description": "LMP by Electrical Bus",
                "operationId": "getData_4",
                "parameters": [
                    {
                        "name": "SCEDTimestampFrom",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "SCEDTimestampTo",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "repeatHourFlag",
                        "in": "query",
                        "description": "Format - true | false.",
                        "schema": {
                            "type": "boolean",
                            "format": "true | false"
                        }
                    },
                    {
                        "name": "electricalBus",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "LMPFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "LMPTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - ###. Page number of returned values in the collection.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - ###. Number of returned items per page.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Format - abc123. Defines field by which to sort the returned resource values.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "dir",
                        "in": "query",
                        "description": "Format - abc123. Defines sort order of returned values based on the primary business key of the resource.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK The operation completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Report"
                                },
                                "example": {
                                    "links": [
                                        {
                                            "rel": "string",
                                            "href": "string",
                                            "hreflang": "string",
                                            "media": "string",
                                            "title": "string",
                                            "type": "string",
                                            "deprecation": "string",
                                            "profile": "string",
                                            "name": "string"
                                        }
                                    ],
                                    "_meta": {
                                        "reportName": "string",
                                        "reportDisplayName": "string",
                                        "reportId": "string",
                                        "reportEMIL": "string",
                                        "sortedBy": "string",
                                        "query": {
                                            "totalRecords": 0,
                                            "pageSize": 0,
                                            "totalPages": 0,
                                            "currentPage": 0,
                                            "sortedBy": "string",
                                            "query": {
                                                "parameterCount": 0,
                                                "parameters": {}
                                            }
                                        }
                                    },
                                    "fields": [
                                        {
                                            "name": "string",
                                            "label": "string",
                                            "cardinality": 0,
                                            "dataType": "BOOLEAN",
                                            "searchable": true,
                                            "hasRange": true
                                        }
                                    ],
                                    "data": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request operation failed. The request and/or one or more of its parameters are invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request operation failed. You do not have access to the requested resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request operation failed. The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/np6-346-cd/act_sys_load_by_fzn": {
            "get": {
                "tags": [
                    "NP6-346-CD"
                ],
                "summary": "Actual System Load by Forecast Zone",
                "description": "Actual System Load by Forecast Zone",
                "operationId": "getData_5",
                "parameters": [
                    {
                        "name": "operatingDayFrom",
                        "in": "query",
                        "description": "Format - yyyy-MM-dd.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-dd"
                        }
                    },
                    {
                        "name": "operatingDayTo",
                        "in": "query",
                        "description": "Format - yyyy-MM-dd.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-dd"
                        }
                    },
                    {
                        "name": "hourEnding",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "northFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "northTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "southFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "southTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "westFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "westTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "houstonFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "houstonTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "totalFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "totalTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "DSTFlag",
                        "in": "query",
                        "description": "Format - true | false.",
                        "schema": {
                            "type": "boolean",
                            "format": "true | false"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - ###. Page number of returned values in the collection.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - ###. Number of returned items per page.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Format - abc123. Defines field by which to sort the returned resource values.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "dir",
                        "in": "query",
                        "description": "Format - abc123. Defines sort order of returned values based on the primary business key of the resource.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK The operation completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Report"
                                },
                                "example": {
                                    "links": [
                                        {
                                            "rel": "string",
                                            "href": "string",
                                            "hreflang": "string",
                                            "media": "string",
                                            "title": "string",
                                            "type": "string",
                                            "deprecation": "string",
                                            "profile": "string",
                                            "name": "string"
                                        }
                                    ],
                                    "_meta": {
                                        "reportName": "string",
                                        "reportDisplayName": "string",
                                        "reportId": "string",
                                        "reportEMIL": "string",
                                        "sortedBy": "string",
                                        "query": {
                                            "totalRecords": 0,
                                            "pageSize": 0,
                                            "totalPages": 0,
                                            "currentPage": 0,
                                            "sortedBy": "string",
                                            "query": {
                                                "parameterCount": 0,
                                                "parameters": {}
                                            }
                                        }
                                    },
                                    "fields": [
                                        {
                                            "name": "string",
                                            "label": "string",
                                            "cardinality": 0,
                                            "dataType": "BOOLEAN",
                                            "searchable": true,
                                            "hasRange": true
                                        }
                                    ],
                                    "data": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request operation failed. The request and/or one or more of its parameters are invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request operation failed. You do not have access to the requested resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request operation failed. The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/np6-345-cd/act_sys_load_by_wzn": {
            "get": {
                "tags": [
                    "NP6-345-CD"
                ],
                "summary": "Actual System Load by Weather Zone",
                "description": "Actual System Load by Weather Zone",
                "operationId": "getData_6",
                "parameters": [
                    {
                        "name": "operatingDayFrom",
                        "in": "query",
                        "description": "Format - yyyy-MM-dd.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-dd"
                        }
                    },
                    {
                        "name": "operatingDayTo",
                        "in": "query",
                        "description": "Format - yyyy-MM-dd.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-dd"
                        }
                    },
                    {
                        "name": "hourEnding",
                        "in": "query",
                        "description": "Format - abc123.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "coastFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "coastTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "eastFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "eastTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "farWestFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "farWestTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "northFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "northTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "northCFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "northCTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "southernFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "southernTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "southCFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "southCTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "westFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "westTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "totalFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "totalTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "DSTFlag",
                        "in": "query",
                        "description": "Format - true | false.",
                        "schema": {
                            "type": "boolean",
                            "format": "true | false"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - ###. Page number of returned values in the collection.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - ###. Number of returned items per page.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Format - abc123. Defines field by which to sort the returned resource values.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    },
                    {
                        "name": "dir",
                        "in": "query",
                        "description": "Format - abc123. Defines sort order of returned values based on the primary business key of the resource.",
                        "schema": {
                            "type": "string",
                            "format": "abc123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK The operation completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Report"
                                },
                                "example": {
                                    "links": [
                                        {
                                            "rel": "string",
                                            "href": "string",
                                            "hreflang": "string",
                                            "media": "string",
                                            "title": "string",
                                            "type": "string",
                                            "deprecation": "string",
                                            "profile": "string",
                                            "name": "string"
                                        }
                                    ],
                                    "_meta": {
                                        "reportName": "string",
                                        "reportDisplayName": "string",
                                        "reportId": "string",
                                        "reportEMIL": "string",
                                        "sortedBy": "string",
                                        "query": {
                                            "totalRecords": 0,
                                            "pageSize": 0,
                                            "totalPages": 0,
                                            "currentPage": 0,
                                            "sortedBy": "string",
                                            "query": {
                                                "parameterCount": 0,
                                                "parameters": {}
                                            }
                                        }
                                    },
                                    "fields": [
                                        {
                                            "name": "string",
                                            "label": "string",
                                            "cardinality": 0,
                                            "dataType": "BOOLEAN",
                                            "searchable": true,
                                            "hasRange": true
                                        }
                                    ],
                                    "data": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request operation failed. The request and/or one or more of its parameters are invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request operation failed. You do not have access to the requested resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The request operation failed. The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                },
                                "example": {
                                    "timestamp": "string",
                                    "code": 0,
                                    "status": "string",
                                    "message": "string",
                                    "data": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/np6-322-cd/sced_system_lambda": {
            "get": {
                "tags": [
                    "NP6-322-CD"
                ],
                "summary": "SCED System Lambda",
                "description": "SCED System Lambda",
                "operationId": "getData_7",
                "parameters": [
                    {
                        "name": "SCEDTimestampFrom",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "SCEDTimestampTo",
                        "in": "query",
                        "description": "Format - yyyy-MM-ddTH24:mm:ss.",
                        "schema": {
                            "type": "string",
                            "format": "yyyy-MM-ddTH24:mm:ss"
                        }
                    },
                    {
                        "name": "repeatHourFlag",
                        "in": "query",
                        "description": "Format - true | false.",
                        "schema": {
                            "type": "boolean",
                            "format": "true | false"
                        }
                    },
                    {
                        "name": "systemLambdaFrom",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "systemLambdaTo",
                        "in": "query",
                        "description": "Format - ####.###.",
                        "schema": {
                            "type": "number",
                            "format": "####.###"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - ###. Page number of returned values in the collection.",
                        "schema": {
                            "type": "integer",
                            "format": "###"
                        }
[...]
