[build-system]
requires = [
    "setuptools >= 47",
    "wheel",
    "requests >= 2.28.1",
    "pandas >= 1.3.0",
    "beautifulsoup4 >= 4.8.13",
    "json5 >= 0.9.8",
    "tabulate >= 0.8.10"
]
build-backend = "setuptools.build_meta"