[build-system]
requires = [
    "setuptools >= 61",
    "wheel",
]
build-backend = "setuptools.build_meta"

[project]
name = "gridstatus"
readme = { file = "README.md", content-type = "text/markdown" }
description = "API to access energy data"
dynamic = ["version"]
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
authors = [
    {name="Max Kanter", email="kmax12@gmail.com"}
]
maintainers = [
    {name="Max Kanter", email="kmax12@gmail.com"}
]
keywords = ["energy", "independent system operator"]
license = {file = "LICENSE"}
requires-python = ">=3.7,<4"
dependencies = [
    "requests >= 2.28.1",
    "pandas >= 1.3.0",
    "beautifulsoup4 >= 4.8.13",
    "tabulate >= 0.8.10",
    "tqdm >= 4.64.1",
    "openpyxl >= 3.0.10"
]

[project.urls]
"Source Code"= "https://github.com/kmax12/gridstatus/"
"Changes" = "https://github.com/kmax12/gridstatus/blob/main/CHANGELOG.md"
"Issue Tracker" = "https://github.com/kmax12/gridstatus/issues"

[project.optional-dependencies]
test = [
    "pytest == 7.1.2",
    "pytest-xdist == 3.0.2",
]
dev = [
    "flake8 == 5.0.4",
    "isort == 5.10.1",
    "black == 22.6.0",
    "pre-commit == 2.20.0",
    "gridstatus[dev]",
]

docs = [
    "ipython == 8.4.0",
    "jupyter == 1.0.0",
    "matplotlib == 3.5.2",
    "sphinx~=4.0",
    "sphinx-book-theme == 0.3.3",
    "sphinx-inline-tabs == 2022.1.2b11",
    "sphinx-copybutton == 0.5.0",
    "myst-nb == 0.17.1",
    "sphinx_design",
    "sphinxext-opengraph",
    "sphinx-thebe",
    "sphinx_togglebutton",
    "sphinx-favicon",
    "sphinx-autoapi",
    "plotly",
    "kaleido",
    "sphinxext-opengraph"
]

[tool.setuptools]
include-package-data = true
license-files = ["LICENSE"]

[tool.setuptools.dynamic]
version = {attr = "gridstatus.version.__version__"}

[tool.setuptools.packages.find]
namespaces = true

[tool.setuptools.package-data]
"*" = [
    "LICENSE",
    "README.md",
]
[tool.setuptools.exclude-package-data]
"*" = [
    "* __pycache__",
    "*.py[co]",
]

[tool.pytest.ini_options]
testpaths = [
    "gridstatus/tests/*"
]

[tool.isort]
profile = "black"
forced_separate = "gridstatus"
known_first_party = "gridstatus"
skip = "__init__.py"
multi_line_output = 3

[tool.black]
target-version = ['py310']
