interactions:
- request:
    body: null
    headers:
      Ocp-Apim-Subscription-Key:
      - 7d70f087f35c4f55b9af9553333c107e
    method: GET
    uri: https://api.pjm.com/api/v1/rt_marginal_value?fields=datetime_beginning_utc%2C+datetime_ending_utc%2C+monitored_facility%2C+contingency_facility%2C+transmission_constraint_penalty_factor%2C+limit_control_percentage%2C+shadow_price&startRow=1&rowCount=50000&datetime_beginning_ept=11%2F05%2F2023+00%3A00to11%2F07%2F2023+00%3A00
  response:
    body:
      string: '{"links":[{"rel":"self","href":"https://api.pjm.com/api/v1/rt_marginal_value?RowCount=50000&Order=Asc&StartRow=1&IsActiveMetadata=True&Fields=datetime_beginning_utc%2Cdatetime_ending_utc%2Cmonitored_facility%2Ccontingency_facility%2Ctransmission_constraint_penalty_factor%2Climit_control_percentage%2Cshadow_price&datetime_beginning_ept=11%2F05%2F2023%2000%3A00to11%2F07%2F2023%2000%3A00"},{"rel":"metadata","href":"https://api.pjm.com/api/v1/rt_marginal_value/metadata"}],"items":[{"datetime_beginning_utc":"2023-11-06T04:55:00","datetime_ending_utc":"2023-11-06T05:00:00","monitored_facility":"Turkey
        Hill - Hilgard 138 kV l/o Prairie State - Mt Vernon 345 kV","contingency_facility":"Prairie
        State-W Mt. Vernon 345","transmission_constraint_penalty_factor":183.1,"limit_control_percentage":100.0,"shadow_price":-183.11},{"datetime_beginning_utc":"2023-11-06T04:45:00","datetime_ending_utc":"2023-11-06T04:50:00","monitored_facility":"Turkey
        Hill - Hilgard 138 kV l/o Prairie State - Mt Vernon 345 kV","contingency_facility":"Prairie
        State-W Mt. Vernon 345","transmission_constraint_penalty_factor":76.1,"limit_control_percentage":100.0,"shadow_price":-76.19},{"datetime_beginning_utc":"2023-11-06T04:40:00","datetime_ending_utc":"2023-11-06T04:45:00","monitored_facility":"3
        POWERT-TWRL [...]
