interactions:
- request:
    body: null
    headers:
      Ocp-Apim-Subscription-Key:
      - 7d70f087f35c4f55b9af9553333c107e
    method: GET
    uri: https://api.pjm.com/api/v1/rt_marginal_value?fields=datetime_beginning_utc%2C+datetime_ending_utc%2C+monitored_facility%2C+contingency_facility%2C+transmission_constraint_penalty_factor%2C+limit_control_percentage%2C+shadow_price&startRow=1&rowCount=50000&datetime_beginning_ept=09%2F02%2F2024+00%3A00to09%2F04%2F2024+00%3A00
  response:
    body:
      string: '{"links":[{"rel":"self","href":"https://api.pjm.com/api/v1/rt_marginal_value?RowCount=50000&Order=Asc&StartRow=1&IsActiveMetadata=True&Fields=datetime_beginning_utc%2Cdatetime_ending_utc%2Cmonitored_facility%2Ccontingency_facility%2Ctransmission_constraint_penalty_factor%2Climit_control_percentage%2Cshadow_price&datetime_beginning_ept=09%2F02%2F2024%2000%3A00to09%2F04%2F2024%2000%3A00"},{"rel":"metadata","href":"https://api.pjm.com/api/v1/rt_marginal_value/metadata"}],"items":[{"datetime_beginning_utc":"2024-09-03T03:55:00","datetime_ending_utc":"2024-09-03T04:00:00","monitored_facility":"CRETSTJO-STJOHNS
        94507      B  345 KV","contingency_facility":"BASE","transmission_constraint_penalty_factor":1000.0,"limit_control_percentage":92.0,"shadow_price":-4.21},{"datetime_beginning_utc":"2024-09-03T03:55:00","datetime_ending_utc":"2024-09-03T04:00:00","monitored_facility":"LENOX-NMESHOPP
        NML 1090     B  115 KV","contingency_facility":"L230.ETowanda-Hillside.2002
        [NYISO]","transmission_constraint_penalty_factor":2000.0,"limit_control_percentage":95.0,"shadow_price":-459.63},{"datetime_beginning_utc":"2024-09-03T03:55:00","datetime_ending_utc":"2024-09-03T04:00:00","monitored_facility":"Mahomet
        - OCB 1303 138 kV l/o Leghorn[...]
