interactions:
- request:
    body: null
    headers:
      Ocp-Apim-Subscription-Key:
      - 7d70f087f35c4f55b9af9553333c107e
    method: GET
    uri: https://api.pjm.com/api/v1/da_transconstraints?fields=datetime_beginning_utc%2Cdatetime_ending_utc%2Cduration%2C+day_ahead_congestion_event%2C+monitored_facility%2C+contingency_facility&startRow=1&rowCount=50000&datetime_beginning_ept=11%2F05%2F2023+00%3A00to11%2F07%2F2023+00%3A00
  response:
    body:
      string: '{"links":[{"rel":"self","href":"https://api.pjm.com/api/v1/da_transconstraints?RowCount=50000&Order=Asc&StartRow=1&IsActiveMetadata=True&Fields=datetime_beginning_utc%2Cdatetime_ending_utc%2Cduration%2Cday_ahead_congestion_event%2Cmonitored_facility%2Ccontingency_facility&datetime_beginning_ept=11%2F05%2F2023%2000%3A00to11%2F07%2F2023%2000%3A00"},{"rel":"metadata","href":"https://api.pjm.com/api/v1/da_transconstraints/metadata"}],"items":[{"datetime_beginning_utc":"2023-11-05T11:00:00","datetime_ending_utc":"2023-11-05T22:00:00","duration":11,"day_ahead_congestion_event":"23
        COLLI345 KV  TR92CT-S","monitored_facility":"23 COLLI345 KV  TR92CT-S","contingency_facility":"L765.Collins
        - Plano.2315"},{"datetime_beginning_utc":"2023-11-05T20:00:00","datetime_ending_utc":"2023-11-06T05:00:00","duration":9,"day_ahead_congestion_event":"3
        POWERT-TWRL POW-TWRL      A  138 KV","monitored_facility":"3 POWERT-TWRL POW-TWRL      A  138
        KV","contingency_facility":"L138.Keemin(MISO/Ameren)-Kewanee.7411"},{"datetime_beginning_utc":"2023-11-06T02:00:00","datetime_ending_utc":"2023-11-06T05:00:00","duration":3,"day_ahead_congestion_event":"94
        HA[...]
