interactions:
- request:
    body: null
    headers:
      Ocp-Apim-Subscription-Key:
      - 7d70f087f35c4f55b9af9553333c107e
    method: GET
    uri: https://api.pjm.com/api/v1/da_marginal_value?fields=datetime_beginning_utc%2C+datetime_ending_utc%2C+monitored_facility%2C+contingency_facility%2C+shadow_price&startRow=1&rowCount=50000&datetime_beginning_ept=09%2F02%2F2024+00%3A00to09%2F04%2F2024+00%3A00
  response:
    body:
      string: '{"links":[{"rel":"self","href":"https://api.pjm.com/api/v1/da_marginal_value?RowCount=50000&Order=Asc&StartRow=1&IsActiveMetadata=True&Fields=datetime_beginning_utc%2Cdatetime_ending_utc%2Cmonitored_facility%2Ccontingency_facility%2Cshadow_price&datetime_beginning_ept=09%2F02%2F2024%2000%3A00to09%2F04%2F2024%2000%3A00"},{"rel":"metadata","href":"https://api.pjm.com/api/v1/da_marginal_value/metadata"}],"items":[{"datetime_beginning_utc":"2024-09-02T04:00:00","datetime_ending_utc":"2024-09-02T05:00:00","monitored_facility":"BERGEN  230
        KV  BER-HUD","contingency_facility":"ACTUAL","shadow_price":-1.40},{"datetime_beginning_utc":"2024-09-02T04:00:00","datetime_ending_utc":"2024-09-02T05:00:00","monitored_facility":"LENOX-NMESHOPP
        NML 1090     B  115 KV","contingency_facility":"L230.ETowanda-Hillside.2002
        [NYISO]","shadow_price":-94.43},{"datetime_beginning_utc":"2024-09-02T04:00:00","datetime_ending_utc":"2024-09-02T05:00:00","monitored_facility":"SAYRECON230
        KV  SAY-SAY","contingency_facility":"ACTUAL","shadow_price":-0.05},{"datetime_beginning_utc":"2024-09-02T0[...]
