interactions:
- request:
    body: null
    headers:
      Ocp-Apim-Subscription-Key:
      - 7d70f087f35c4f55b9af9553333c107e
    method: GET
    uri: https://api.pjm.com/api/v1/da_transconstraints?fields=datetime_beginning_utc%2Cdatetime_ending_utc%2Cduration%2C+day_ahead_congestion_event%2C+monitored_facility%2C+contingency_facility&startRow=1&rowCount=50000&datetime_beginning_ept=09%2F02%2F2024+00%3A00to09%2F04%2F2024+00%3A00
  response:
    body:
      string: '{"links":[{"rel":"self","href":"https://api.pjm.com/api/v1/da_transconstraints?RowCount=50000&Order=Asc&StartRow=1&IsActiveMetadata=True&Fields=datetime_beginning_utc%2Cdatetime_ending_utc%2Cduration%2Cday_ahead_congestion_event%2Cmonitored_facility%2Ccontingency_facility&datetime_beginning_ept=09%2F02%2F2024%2000%3A00to09%2F04%2F2024%2000%3A00"},{"rel":"metadata","href":"https://api.pjm.com/api/v1/da_transconstraints/metadata"}],"items":[{"datetime_beginning_utc":"2024-09-02T16:00:00","datetime_ending_utc":"2024-09-02T17:00:00","duration":1,"day_ahead_congestion_event":"12
        DRESDEN  45TR81 CT       H  345 KV","monitored_facility":"12 DRESDEN  45TR81
        CT       H  345 KV","contingency_facility":"L345.Lockport-Kendall.10805"},{"datetime_beginning_utc":"2024-09-02T18:00:00","datetime_ending_utc":"2024-09-03T01:00:00","duration":7,"day_ahead_congestion_event":"12
        DRESDEN  45TR81 CT       H  345 KV","monitored_facility":"12 DRESDEN  45TR81
        CT       H  345 KV","contingency_facility":"L345.Lockport-Kendall.10805"},{"datetime_beginning_utc":"2024-09-02T04:00:00","datetime_ending_utc":"2024-09-02T08:00:00","duration":4,"day_ahead_congestion_event":"BERGEN  230
        KV  BER-H[...]
