interactions:
- request:
    body: null
    headers:
      Ocp-Apim-Subscription-Key:
      - 7d70f087f35c4f55b9af9553333c107e
    method: GET
    uri: https://api.pjm.com/api/v1/da_marginal_value?fields=datetime_beginning_utc%2C+datetime_ending_utc%2C+monitored_facility%2C+contingency_facility%2C+shadow_price&startRow=1&rowCount=50000&datetime_beginning_ept=11%2F05%2F2023+00%3A00to11%2F07%2F2023+00%3A00
  response:
    body:
      string: '{"links":[{"rel":"self","href":"https://api.pjm.com/api/v1/da_marginal_value?RowCount=50000&Order=Asc&StartRow=1&IsActiveMetadata=True&Fields=datetime_beginning_utc%2Cdatetime_ending_utc%2Cmonitored_facility%2Ccontingency_facility%2Cshadow_price&datetime_beginning_ept=11%2F05%2F2023%2000%3A00to11%2F07%2F2023%2000%3A00"},{"rel":"metadata","href":"https://api.pjm.com/api/v1/da_marginal_value/metadata"}],"items":[{"datetime_beginning_utc":"2023-11-05T04:00:00","datetime_ending_utc":"2023-11-05T05:00:00","monitored_facility":"CHESWICK138
        KV  CHE-LF53","contingency_facility":"138.Cheswick-Logans Ferry.Z-52","shadow_price":-14.01},{"datetime_beginning_utc":"2023-11-05T04:00:00","datetime_ending_utc":"2023-11-05T05:00:00","monitored_facility":"CRANBERY138
        KV  CRA-HOY","contingency_facility":"ACTUAL","shadow_price":-1.72},{"datetime_beginning_utc":"2023-11-05T04:00:00","datetime_ending_utc":"2023-11-05T05:00:00","monitored_facility":"MAHANSLA138
        KV  MAH-TID","contingency_facility":"L345.Tidd-WylieRidge","shadow_price":-20.97},{"datetime_beginning_utc":"2023-11-05T04:00:00","datetime_ending_utc":"2023[...]
