interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/hourlyloadforecast/all/day/20241102
  response:
    body:
      string: '{"HourlyLoadForecasts":{"HourlyLoadForecast":[{"BeginDate":"2024-11-02T00:00:00.000-04:00","CreationDate":"2024-10-31T04:00:55.000-04:00","LoadMw":9910,"NetLoadMw":9910},{"BeginDate":"2024-11-02T00:00:00.000-04:00","CreationDate":"2024-10-31T09:11:54.000-04:00","LoadMw":9910,"NetLoadMw":9910},{"BeginDate":"2024-11-02T00:00:00.000-04:00","CreationDate":"2024-10-31T18:18:28.000-04:00","LoadMw":9910,"NetLoadMw":9910},{"BeginDate":"2024-11-02T00:00:00.000-04:00","CreationDate":"2024-10-31T18:52:55.000-04:00","LoadMw":9910,"NetLoadMw":9910},{"BeginDate":"2024-11-02T00:00:00.000-04:00","CreationDate":"2024-11-01T03:55:29.000-04:00","LoadMw":9750,"NetLoadMw":9750[...]
[...]
