interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/realtimehourlydemand/day/20241006/location/4001
  response:
    body:
      string: '{"HourlyRtDemands":{"HourlyRtDemand":[{"BeginDate":"2024-10-06T00:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":926.241},{"BeginDate":"2024-10-06T01:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":902.749},{"BeginDate":"2024-10-06T02:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":869.277},{"BeginDate":"2024-10-06T03:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":865.319},{"BeginDate":"2024-10-06T04:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":875.86},{"BeginDate":"2024-10-06T05:00:00.000-04:00","Location":{"@LocId":"4001"[...]
[...]
