interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/realtimehourlydemand/current/location/4001
  response:
    body:
      string: '{"HourlyRtDemand":{"BeginDate":"2024-10-15T23:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":1077.614}}'
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
    status:
      code: 200
      message: ''
version: 1
