interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/reliabilityregionloadforecast/day/20230501/all
  response:
    body:
      string: '{"ReliabilityRegionLoadForecasts":{"ReliabilityRegionLoadForecast":[{"BeginDate":"2023-05-01T00:00:00.000-04:00","CreationDate":"2023-04-30T09:25:30.000-04:00","ReliabilityRegion":".Z.CONNECTICUT","LoadMw":2139.053,"ReliabilityRegionLoadPercentage":22.659},{"BeginDate":"2023-05-01T00:00:00.000-04:00","CreationDate":"2023-04-29T15:19:34.000-04:00","ReliabilityRegion":".Z.CONNECTICUT","LoadMw":2146.274,"ReliabilityRegionLoadPercentage":22.664},{"BeginDate":"2023-05-01T00:00:00.000-04:00","CreationDate":"2023-04-29T09:19:17.000-04:00","ReliabilityRegion":".Z.CONNECTICUT","LoadMw":2146.274,"ReliabilityRegionLoadPercentage":22.664},{"BeginDate":"2023-05-01T00:00:00.000-04:00","CreationDate":"2023-04-29T03:36:07.000-04:00","ReliabilityRegion":".[...]
