interactions:
- request:
    body: null
    headers:
      Authorization:
      - XXXXXX
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/genfuelmix/current
  response:
    body:
      string: '{"GenFuelMixes":{"GenFuelMix":[{"BeginDate":"2024-11-25T20:20:24.000-05:00","GenMw":990,"FuelCategoryRollup":"Hydro","FuelCategory":"Hydro","MarginalFlag":"Y"},{"BeginDate":"2024-11-25T20:20:24.000-05:00","GenMw":8961,"FuelCategoryRollup":"Natural
        Gas","FuelCategory":"Natural Gas","MarginalFlag":"N"},{"BeginDate":"2024-11-25T20:20:24.000-05:00","GenMw":3355,"FuelCategoryRollup":"Nuclear","FuelCategory":"Nuclear","MarginalFlag":"N"},{"BeginDate":"2024-11-25T20:20:24.000-05:00","GenMw":1,"FuelCategoryRollup":"Other","FuelCategory":"Other","MarginalFlag":"N"},{"BeginDate":"2024-11-25T20:20:24.000-05:00","GenMw":340,"FuelCategoryRollup":"Renewables","FuelCategory":"Refuse","MarginalFlag":"N"},{"BeginDate":"2024-11-25T20:20:24.000-05:00","GenMw":1,"FuelCategoryRollup":"Renewables","FuelCategory":"Solar","MarginalFlag":"N"},{"BeginDate":"2024-11-25T20:20:24.000-05:00","GenMw":383,"FuelCategoryRollup":"Renewables","FuelCategory":"Wind","MarginalFlag":"N"},{"BeginDate":"2024-11-25T20:20:24.000-05:00","GenMw":272,"FuelCategoryRollup":"Renewables","FuelCategory":"Wood","MarginalFlag":"N"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
    status:
      code: 200
      message: ''
version: 1
