interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/hourlysysload/current
  response:
    body:
      string: '{"HourlySystemLoads":{"HourlySystemLoad":{"BeginDate":"2024-11-25T14:00:00.000-05:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":12427.143,"NativeLoad":12234.307,"ArdDemand":192.836}}}'
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
    status:
      code: 200
      message: ''
version: 1
