interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/dayaheadhourlydemand/day/20241006/location/4001
  response:
    body:
      string: '{"HourlyDaDemands":{"HourlyDaDemand":[{"BeginDate":"2024-10-06T00:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":753.6},{"BeginDate":"2024-10-06T01:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":773.9},{"BeginDate":"2024-10-06T02:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":773.7},{"BeginDate":"2024-10-06T03:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":827.9},{"BeginDate":"2024-10-06T04:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":800.3},{"BeginDate":"2024-10-06T05:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.[...]
[...]
