interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/hourlysysload/day/20240309
  response:
    body:
      string: '{"HourlySystemLoads":{"HourlySystemLoad":[{"BeginDate":"2024-03-09T00:00:00.000-05:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":11582.75,"NativeLoad":11230.845,"ArdDemand":351.905},{"BeginDate":"2024-03-09T01:00:00.000-05:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":11248.74,"NativeLoad":10898.255,"ArdDemand":350.485},{"BeginDate":"2024-03-09T02:00:00.000-05:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":11045.98,"NativeLoad":10696.489,"ArdDemand":349.491},{"BeginDate":"2024-03-09T03:00:00.000-05:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":11232.943,"NativeLoad":10640.057,"ArdDemand":592.886},{"BeginDate":"20[...]
[...]
