interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/hourlyloadforecast/all/day/20240309
  response:
    body:
      string: '{"HourlyLoadForecasts":{"HourlyLoadForecast":[{"BeginDate":"2024-03-09T00:00:00.000-05:00","CreationDate":"2024-03-07T04:06:46.000-05:00","LoadMw":11160,"NetLoadMw":11160},{"BeginDate":"2024-03-09T00:00:00.000-05:00","CreationDate":"2024-03-07T09:19:34.000-05:00","LoadMw":11130,"NetLoadMw":11130},{"BeginDate":"2024-03-09T00:00:00.000-05:00","CreationDate":"2024-03-08T04:07:42.000-05:00","LoadMw":10980,"NetLoadMw":10980},{"BeginDate":"2024-03-09T00:00:00.000-05:00","CreationDate":"2024-03-08T09:19:52.000-05:00","LoadMw":11200,"NetLoadMw":11200},{"BeginDate":"2024-03-09T00:00:00.000-05:00","CreationDate":"2024-03-09T03:56:25.000-05:00","LoadMw":11200,"NetLoad[...]
[...]
