interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/realtimehourlydemand/day/20240309/location/4001
  response:
    body:
      string: '{"HourlyRtDemands":{"HourlyRtDemand":[{"BeginDate":"2024-03-09T00:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":1112.351},{"BeginDate":"2024-03-09T01:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":1098.067},{"BeginDate":"2024-03-09T02:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":1081.114},{"BeginDate":"2024-03-09T03:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":1084.373},{"BeginDate":"2024-03-09T04:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":1107.535},{"BeginDate":"2024-03-09T05:00:00.000-05:00","Location":{"@LocId":[...]
[...]
