interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/locations
  response:
    body:
      string: '{"Locations":{"Location":[{"LocationID":4000,"LocationType":"HUB","LocationName":".H.INTERNAL_HUB","AreaType":"INTERNAL"},{"LocationID":4001,"LocationType":"LOAD
        ZONE","LocationName":".Z.MAINE","AreaType":"INTERNAL"},{"LocationID":4002,"LocationType":"LOAD
        ZONE","LocationName":".Z.NEWHAMPSHIRE","AreaType":"INTERNAL"},{"LocationID":4003,"LocationType":"LOAD
        ZONE","LocationName":".Z.VERMONT","AreaType":"INTERNAL"},{"LocationID":4004,"LocationType":"LOAD
        ZONE","LocationName":".Z.CONNECTICUT","AreaType":"INTERNAL"},{"LocationID":4005,"LocationType":"LOAD
        ZONE","Locati[...]
