interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/dayaheadhourlydemand/day/20241102/location/4001
  response:
    body:
      string: '{"HourlyDaDemands":{"HourlyDaDemand":[{"BeginDate":"2024-11-02T00:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":772.7},{"BeginDate":"2024-11-02T01:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":799.7},{"BeginDate":"2024-11-02T02:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":826.1},{"BeginDate":"2024-11-02T03:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":853.3},{"BeginDate":"2024-11-02T04:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":873.4},{"BeginDate":"2024-11-02T05:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.[...]
[...]
