interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/dayaheadhourlydemand/current/location/32
  response:
    body:
      string: '{"HourlyDaDemand":{"BeginDate":"2024-11-25T16:00:00.000-05:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":14160}}'
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
    status:
      code: 200
      message: ''
version: 1
