interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/hourlyloadforecast/all/day/20230501
  response:
    body:
      string: '{"HourlyLoadForecasts":{"HourlyLoadForecast":[{"BeginDate":"2023-05-01T00:00:00.000-04:00","CreationDate":"2023-04-29T03:36:01.000-04:00","LoadMw":9470,"NetLoadMw":9470},{"BeginDate":"2023-05-01T00:00:00.000-04:00","CreationDate":"2023-04-29T09:19:11.000-04:00","LoadMw":9470,"NetLoadMw":9470},{"BeginDate":"2023-05-01T00:00:00.000-04:00","CreationDate":"2023-04-29T15:19:30.000-04:00","LoadMw":9470,"NetLoadMw":9470},{"BeginDate":"2023-05-01T00:00:00.000-04:00","CreationDate":"2023-04-30T03:50:28.000-04:00","LoadMw":9430,"NetLoadMw":9430},{"BeginDate":"2023-05-01T00:00:00.000-04:00","CreationDate":"2023-04-30T09:25:25.000-04:00","LoadMw":9440,"NetLoadMw":9440[...]
[...]
