interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/hourlysysload/day/20241102
  response:
    body:
      string: '{"HourlySystemLoads":{"HourlySystemLoad":[{"BeginDate":"2024-11-02T00:00:00.000-04:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":9875.86,"NativeLoad":9594.62,"ArdDemand":281.24},{"BeginDate":"2024-11-02T01:00:00.000-04:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":9887.227,"NativeLoad":9185.321,"ArdDemand":701.906},{"BeginDate":"2024-11-02T02:00:00.000-04:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":9818.667,"NativeLoad":8954.792,"ArdDemand":863.875},{"BeginDate":"2024-11-02T03:00:00.000-04:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":9731.903,"NativeLoad":8866.974,"ArdDemand":864.929},{"BeginDate":"2024-11[...]
[...]
