interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/genfuelmix/current
  response:
    body:
      string: '{"GenFuelMixes":{"GenFuelMix":[{"BeginDate":"2024-11-25T15:31:41.000-05:00","GenMw":479,"FuelCategoryRollup":"Hydro","FuelCategory":"Hydro","MarginalFlag":"N"},{"BeginDate":"2024-11-25T15:31:41.000-05:00","GenMw":8181,"FuelCategoryRollup":"Natural
        Gas","FuelCategory":"Natural Gas","MarginalFlag":"Y"},{"BeginDate":"2024-11-25T15:31:41.000-05:00","GenMw":3351,"FuelCategoryRollup":"Nuclear","FuelCategory":"Nuclear","MarginalFlag":"N"},{"BeginDate":"2024-11-25T15:31:41.000-05:00","GenMw":55,"FuelCategoryRollup":"Oil","FuelCategory":"Oil","MarginalFlag":"N"},{"BeginDate":"2024-11-25T15:31:41.000-05:00","GenMw":13,"FuelCategoryRollup":"Other","FuelCategory":"Other","MarginalFlag":"N"},{"BeginDate":"2024-11-25T15:31:41.000-05:00","GenMw":337,"FuelCategoryRollup":"Renewables","FuelCategory":"Refuse","MarginalFlag":"N"},{"BeginDate":"2024-11-25T15:31:41.000-05:00","GenMw":52,"FuelCategoryRollup":"Renewables","FuelCategory":"Solar","MarginalFlag":"N"},{"BeginDate":"2024-11-25T15:31:41.000-05:00","GenMw":714,"FuelCategoryRollup":"Renewables","FuelCategory":"Wind","MarginalFlag":"N"},{"BeginDate":"2024-11-25T15:31:41.000-05:00","GenMw":251,"FuelCategoryRollup":"Renewables","FuelCategory":"Wood","MarginalFlag":"N"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
    status:
      code: 200
      message: ''
version: 1
