interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/reliabilityregionloadforecast/day/20241102/all
  response:
    body:
      string: '{"ReliabilityRegionLoadForecasts":{"ReliabilityRegionLoadForecast":[{"BeginDate":"2024-11-02T00:00:00.000-04:00","CreationDate":"2024-11-01T09:25:00.000-04:00","ReliabilityRegion":".Z.CONNECTICUT","LoadMw":2172.983,"ReliabilityRegionLoadPercentage":22.356},{"BeginDate":"2024-11-02T00:00:00.000-04:00","CreationDate":"2024-11-01T04:02:16.000-04:00","ReliabilityRegion":".Z.CONNECTICUT","LoadMw":2181.219,"ReliabilityRegionLoadPercentage":22.371},{"BeginDate":"2024-11-02T00:00:00.000-04:00","CreationDate":"2024-10-31T18:59:52.000-04:00","ReliabilityRegion":".Z.CONNECTICUT","LoadMw":2216.776,"ReliabilityRegionLoadPercentage":22.369},{"BeginDate":"2024-11-02T00:00:00.000-04:00","CreationDate":"2024-10-31T18:26:19.000-04:00","ReliabilityRegion":".[...]
[...]
