interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/genfuelmix/day/20241102
  response:
    body:
      string: '{"GenFuelMixes":{"GenFuelMix":[{"BeginDate":"2024-11-02T00:08:02.000-04:00","GenMw":267,"FuelCategoryRollup":"Hydro","FuelCategory":"Hydro","MarginalFlag":"Y"},{"BeginDate":"2024-11-02T00:08:02.000-04:00","GenMw":7007,"FuelCategoryRollup":"Natural
        Gas","FuelCategory":"Natural Gas","MarginalFlag":"N"},{"BeginDate":"2024-11-02T00:08:02.000-04:00","GenMw":1226,"FuelCategoryRollup":"Nuclear","FuelCategory":"Nuclear","MarginalFlag":"N"},{"BeginDate":"2024-11-02T00:08:02.000-04:00","GenMw":16,"FuelCategoryRollup":"Other","FuelCategory":"Other","MarginalFlag":"N"},{"BeginDate":"2024-11-02T00:08:02.000-04:00","GenMw":4,"FuelCategoryRollup":"Renewa[...]
[...]
