interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/genfuelmix/day/20240309
  response:
    body:
      string: '{"GenFuelMixes":{"GenFuelMix":[{"BeginDate":"2024-03-09T00:05:34.000-05:00","GenMw":1091,"FuelCategoryRollup":"Hydro","FuelCategory":"Hydro","MarginalFlag":"N"},{"BeginDate":"2024-03-09T00:05:34.000-05:00","GenMw":6017,"FuelCategoryRollup":"Natural
        Gas","FuelCategory":"Natural Gas","MarginalFlag":"Y"},{"BeginDate":"2024-03-09T00:05:34.000-05:00","GenMw":3364,"FuelCategoryRollup":"Nuclear","FuelCategory":"Nuclear","MarginalFlag":"N"},{"BeginDate":"2024-03-09T00:05:34.000-05:00","GenMw":0,"FuelCategoryRollup":"Other","FuelCategory":"Other","MarginalFlag":"N"},{"BeginDate":"2024-03-09T00:05:34.000-05:00","GenMw":36,"FuelCategoryRollup":"Renewa[...]
[...]
