interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/reliabilityregionloadforecast/day/20240309/all
  response:
    body:
      string: '{"ReliabilityRegionLoadForecasts":{"ReliabilityRegionLoadForecast":[{"BeginDate":"2024-03-09T00:00:00.000-05:00","CreationDate":"2024-03-08T09:19:58.000-05:00","ReliabilityRegion":".Z.CONNECTICUT","LoadMw":2577.817,"ReliabilityRegionLoadPercentage":23.016},{"BeginDate":"2024-03-09T00:00:00.000-05:00","CreationDate":"2024-03-08T04:07:49.000-05:00","ReliabilityRegion":".Z.CONNECTICUT","LoadMw":2527.391,"ReliabilityRegionLoadPercentage":23.018},{"BeginDate":"2024-03-09T00:00:00.000-05:00","CreationDate":"2024-03-07T09:19:40.000-05:00","ReliabilityRegion":".Z.CONNECTICUT","LoadMw":2549.429,"ReliabilityRegionLoadPercentage":22.906},{"BeginDate":"2024-03-09T00:00:00.000-05:00","CreationDate":"2024-03-07T04:06:52.000-05:00","ReliabilityRegion":".[...]
[...]
