interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/realtimehourlydemand/day/20241102/location/4001
  response:
    body:
      string: '{"HourlyRtDemands":{"HourlyRtDemand":[{"BeginDate":"2024-11-02T00:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":902.448},{"BeginDate":"2024-11-02T01:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":884.469},{"BeginDate":"2024-11-02T02:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":871.609},{"BeginDate":"2024-11-02T03:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":875.716},{"BeginDate":"2024-11-02T04:00:00.000-04:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":891.804},{"BeginDate":"2024-11-02T05:00:00.000-04:00","Location":{"@LocId":"4001[...]
[...]
