interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/genfuelmix/current
  response:
    body:
      string: '{"GenFuelMixes":{"GenFuelMix":[{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":261,"FuelCategoryRollup":"Hydro","FuelCategory":"Hydro","MarginalFlag":"N"},{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":9248,"FuelCategoryRollup":"Natural
        Gas","FuelCategory":"Natural Gas","MarginalFlag":"Y"},{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":1232,"FuelCategoryRollup":"Nuclear","FuelCategory":"Nuclear","MarginalFlag":"N"},{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":1,"FuelCategoryRollup":"Oil","FuelCategory":"Oil","MarginalFlag":"N"},{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":2,"FuelCategoryRollup":"Other","FuelCategory":"Other","MarginalFlag":"N"},{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":2,"FuelCategoryRollup":"Renewables","FuelCategory":"Landfill
        Gas","MarginalFlag":"N"},{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":311,"FuelCategoryRollup":"Renewables","FuelCategory":"Refuse","MarginalFlag":"N"},{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":108,"FuelCategoryRollup":"Renewables","FuelCategory":"Solar","MarginalFlag":"N"},{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":194,"FuelCategoryRollup":"Renewables","FuelCategory":"Wind","MarginalFlag":"Y"},{"BeginDate":"2024-11-04T15:05:14.000-05:00","GenMw":204,"FuelCategoryRollup":"Renewables","FuelCategory":"Wood","MarginalFlag":"N"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
    status:
      code: 200
      message: ''
version: 1
