interactions:
- request:
    body: null
    headers:
      Authorization:
      - XXXXXX
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/dayaheadhourlydemand/day/20240309/location/4001
  response:
    body:
      string: '{"HourlyDaDemands":{"HourlyDaDemand":[{"BeginDate":"2024-03-09T00:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":1029.8},{"BeginDate":"2024-03-09T01:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":956.9},{"BeginDate":"2024-03-09T02:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":991.5},{"BeginDate":"2024-03-09T03:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":972.2},{"BeginDate":"2024-03-09T04:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":990.4},{"BeginDate":"2024-03-09T05:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z[...]
[...]
