interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/genfuelmix/day/20240101
  response:
    body:
      string: '{"GenFuelMixes":{"GenFuelMix":[{"BeginDate":"2024-01-01T00:00:14.000-05:00","GenMw":1191,"FuelCategoryRollup":"Hydro","FuelCategory":"Hydro","MarginalFlag":"Y"},{"BeginDate":"2024-01-01T00:00:14.000-05:00","GenMw":5139,"FuelCategoryRollup":"Natural
        Gas","FuelCategory":"Natural Gas","MarginalFlag":"N"},{"BeginDate":"2024-01-01T00:00:14.000-05:00","GenMw":3368,"FuelCategoryRollup":"Nuclear","FuelCategory":"Nuclear","MarginalFlag":"N"},{"BeginDate":"2024-01-01T00:00:14.000-05:00","GenMw":3,"FuelCategoryRollup":"Other","FuelCategory":"Other","MarginalFlag":"N"},{"BeginDate":"2024-01-01T00:00:14.000-05:00","GenMw":35,"FuelCategoryRollup":"Renewa[...]
[...]
