interactions:
- request:
    body: null
    headers:
      Authorization:
      - XXXXXX
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/hourlysysload/current
  response:
    body:
      string: '{"HourlySystemLoads":{"HourlySystemLoad":{"BeginDate":"2024-11-25T19:00:00.000-05:00","Location":{"@LocId":"32","$":"NEPOOL
        AREA"},"Load":15114.079,"NativeLoad":15104.637,"ArdDemand":9.442}}}'
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
    status:
      code: 200
      message: ''
version: 1
