interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/realtimehourlydemand/current/location/4001
  response:
    body:
      string: '{"HourlyRtDemand":{"BeginDate":"2024-11-20T23:00:00.000-05:00","Location":{"@LocId":"4001","$":".Z.MAINE"},"Load":1049.032}}'
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - Basic bWF4QGdyaWRzdGF0dXMuaW86RThjMVJnNkpldjEx
    method: GET
    uri: https://webservices.iso-ne.com/api/v1.1/realtimehourlydemand/current/location/4002
  response:
    body:
      string: '{"HourlyRtDemand":{"BeginDate":"2024-11-20T23:00:00.000-05:00","Location":{"@LocId":"4002","$":".Z.NEWHAMPSHIRE"},"Load":1036.177}}'
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
    status:
      code: 200
      message: ''
version: 1
