name: Tests
on: # Run on all pushes and pull requests. Eventually can run certain jobs on commit.
  push:
    branches:
      - main
  pull_request:

jobs:
  test-base:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install
      - name: Run base tests
        run: make test-base

  test-iso:
    needs: [test-base]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
        iso: [caiso, ercot, isone, miso, nyiso, pjm, spp]
    env:
      EIA_API_KEY: ${{ secrets.EIA_API_KEY }}
      PJM_API_KEY: ${{ secrets.PJM_API_KEY }}
      ERCOT_API_USERNAME: ${{ secrets.ERCOT_API_USERNAME }}
      ERCOT_API_PASSWORD: ${{ secrets.ERCOT_API_PASSWORD }}
      ERCOT_API_SUBSCRIPTION_KEY: ${{ secrets.ERCOT_API_SUBSCRIPTION_KEY }}
      ISONE_API_USERNAME: ${{ secrets.ISONE_API_USERNAME }}
      ISONE_API_PASSWORD: ${{ secrets.ISONE_API_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install
      - name: Install vcrpy
        run: pip install vcrpy
      - name: Run ISO tests
        run: make test-${{ matrix.iso }}


  test-all-coverage:
    needs: [test-base, test-iso]
    runs-on: ubuntu-latest
    env:
      EIA_API_KEY: ${{ secrets.EIA_API_KEY }}
      PJM_API_KEY: ${{ secrets.PJM_API_KEY }}
      ERCOT_API_USERNAME: ${{ secrets.ERCOT_API_USERNAME }}
      ERCOT_API_PASSWORD: ${{ secrets.ERCOT_API_PASSWORD }}
      ERCOT_API_SUBSCRIPTION_KEY: ${{ secrets.ERCOT_API_SUBSCRIPTION_KEY }}
      ISONE_API_USERNAME: ${{ secrets.ISONE_API_USERNAME }}
      ISONE_API_PASSWORD: ${{ secrets.ISONE_API_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install
      - name: Install vcrpy
        run: pip install vcrpy
      - name: Run all tests with coverage
        run: make test-cov
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          files: ${{ github.workspace }}/coverage.xml
          fail_ci_if_error: false
          verbose: true
