name: Commit Tests
on: # Run on all commit pushes to all feature branches.
  push:
    branches-ignore:
      - main

jobs:
  test-base:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install
      - name: Run base tests
        run: make test-base

  # TODO: Currently even fixtured tests run in integration mode until we pull the fixtures from s3
  test-unit:
    needs: [test-base]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Run unit tests
        run: make test-unit
